<table id="mitabla">
  <thead>
    <tr>
      <th>Plato</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Para llevar</th>
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <% comidas=pedido.foods %>
        <% comidas.each do |comida| %>
          <% if comida.product_type == 'comida'%>
            <td id="foto"><%= image_tag ("#{comida.photo}")%></td>
            <td><%= comida.name%></td>  
            <td><%= pedido.quantity %></td>
            <td><%= link_to 'listo', delivery_path(pedido) %></td>
          <%end%>
        <%end%>     
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(
      function(){
        setInterval(function(){
          $('#mitabla').load('/chefs/index');
      }, 16000);
    });
</script>

